<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] [%thread] %d{yyyy-MM-dd HH:mm:ss.SSS}: %logger: %msg%n%caller{2}</pattern>
		</encoder>
	</appender>
	
	<logger name="org.hyness" level="debug" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>